@model IEnumerable<BDLUCY_CodeFirst_Crud.Models.Distribuidor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<h1>Listado de distribuidores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary text-white">Registrar distribuidor</a>
</p>
<table class="table">
    <thead class="text-white" style="background-color:#fe9f8b;">
        <tr>
            <th style="font-family:'Calibri';">
                Razón Social
            </th>
            <th style="font-family:'Calibri';">
                RUC
            </th>
            <th style="font-family:'Calibri';">
                Dirección
            </th>
            <th style="font-family:'Calibri';">
                Teléfono
            </th>
            <th style="font-family:'Calibri';">
                Nombre Contacto
            </th>
            <th style="font-family:'Calibri';">
                Teléfono contacto
            </th>
            <th style="font-family:'Calibri';">
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Razon_Social_Distribuidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC_Distribuidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_Distribuidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Distribuidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Distribuidor)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Codigo_Distribuidor"> <i class="bi bi-pencil-square"></i> </a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Codigo_Distribuidor"> <i class="bi bi-list-ul"></i> </a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo_Distribuidor"> <i class="bi bi-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
