@model IEnumerable<BDLUCY_CodeFirst_Crud.Models.Subcategoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Subcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Subcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Subcategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.Nombre_Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo_Subcategoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo_Subcategoria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo_Subcategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
