@model BDLUCY_CodeFirst_Crud.Models.Compra

@{
    ViewData["Title"] = "Create";
}

<h1>Registro de compra</h1>

<div class="row">

    <div class="col-md-9">
        <h4>Añadir paquetes</h4>
        <hr />


        <table id="tbpaquetes" class="table">
            <thead>
                <tr>
                    <th>
                        codigo Paquete
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Importe
                    </th>

                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model.Detalle_Compras)*@
                @for (var i = 0; i < Model.Detalle_Compras.Count; i++)
                {
                    <tr>
                        <td>
                            <select asp-for="Detalle_Compras[i].Codigo_Paquete" class="form-control" asp-items="ViewBag.Codigo_Paquete"></select>
                            @Html.EditorFor(x=> x.Detalle_Compras[i].Codigo_Paquete,new {htmlAttributes = new{ @class="form-control"} })
                            @*<input asp-for="@item.Codigo_Paquete" class="form-control" />*@
                        </td>
                        <td>
                            @Html.EditorFor(x=> x.Detalle_Compras[i].Cantidad,new {htmlAttributes = new{ @class="form-control"} })
                            @*<input asp-for="@item.Cantidad" class="form-control" />*@
                        </td>
                        <td>
                            @Html.EditorFor(x=> x.Detalle_Compras[i].Precio_Unitario,new {htmlAttributes = new{ @class="form-control"} })
                            @*<input asp-for="@item.Precio_Unitario" class="form-control" />*@
                        </td>
                        <td>
                            @Html.EditorFor(x=> x.Detalle_Compras[i].Importe_Detalle_Compra,new {htmlAttributes = new{ @class="form-control"} })
                            @*<input asp-for="@item.Importe_Detalle_Compra" class="form-control" />*@
                        </td>
                        <td>
                            <button id='btnadd-@i' type="button" class="btn btn-sm btn-success visible" onclick="AddItem(this)">Agregar</button>
                            <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger invisible" onclick="DeleteItem(this)">Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="hdnLastIndex" value="0" />



    </div>






    <div class="col-md-3">

        <h4>Detalle compra</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label >Fecha de compra</label>
                <input asp-for="Fecha_Compra" class="form-control" />
                <span asp-validation-for="Fecha_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Tipo de comprobante</label>
                <input asp-for="Tipo_Comprobante" class="form-control" />
                <span asp-validation-for="Tipo_Comprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Serie comprobante</label>
                <input asp-for="Serie_Comprobante_Compra" class="form-control" />
                <span asp-validation-for="Serie_Comprobante_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Número de comprobante</label>
                <input asp-for="Numero_Comprobante_Compra" class="form-control" />
                <span asp-validation-for="Numero_Comprobante_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <select asp-for="Codigo_Usuario" class="form-control" asp-items="ViewBag.Codigo_Usuario"></select>
            </div>
            <div class="form-group">
                <label>Distribuidor</label>
                <select asp-for="Codigo_Distribuidor" class="form-control" asp-items="ViewBag.Codigo_Distribuidor"></select>
            </div>
            <div class="form-group">
                <label>IGV</label>
                <input asp-for="IGV_Compra" class="form-control" />
                <span asp-validation-for="IGV_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Subtotal</label>
                <input asp-for="Subtotal_Compra" class="form-control" />
                <span asp-validation-for="Subtotal_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Total</label>
                <input asp-for="Total_Compra" class="form-control" />
                <span asp-validation-for="Total_Compra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar compra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*botón para agregar más filas al detalle de compra*@
    <script type="text/javascript">


        function DeleteItem(btn) {
            $(btn).closest('tr').remove();

        }



        function AddItem(btn) {
            var table = document.getElementById('tbpaquetes');
            var rows = table.getElementsByTagName('tr');
            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = document.getElementById('hdnLastIndex').value;
            var nextrowIdx = eval(lastrowIdx) + 1;
            document.getElementById('hdnLastIndex').value = nextrowIdx;

            rowOuterHtml = rowOuterHtml.replaceAll("_" + lastrowIdx + "_", "_" + nextrowIdx + "_");
            rowOuterHtml = rowOuterHtml.replaceAll("[" + lastrowIdx + "]", "[" + nextrowIdx + "]");
            rowOuterHtml = rowOuterHtml.replaceAll("-" + lastrowIdx, "-" + nextrowIdx);


            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;


            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll("btnadd", "btnremove");

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add("visible");
            delbtn.classList.remove("invisible");

            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.remove("visible");
            addbtn.classList.add("invisible");


        }



    </script>


}
