@model BDLUCY_CodeFirst_Crud.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_De_Barra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_De_Barra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_Compra_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_Compra_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_Venta_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_Venta_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subcategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subcategoria.Nombre_Subcategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.presentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.presentacion.Nombre_Presentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca.Nombre_Marca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo_Producto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
