@model IEnumerable<BDLUCY_CodeFirst_Crud.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<body style="background-color: #ffeae5;">
    <div class="row mt-4 bg-white border border-dark">
        <div class="container mb-0 pt-0 pl-0 pr-0">
            <div class="row mb-0 pt-0 pl-0 pr-0" style="background-color:#fe9f8b;">
                <h1 class="display-6 text-white">Producto</h1>
            </div>
            <div class="row mt-3 pl-0 pr-0">
                <div class="col-md-9">
                        <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </form>
                </div>
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-primary" asp-action="Create"><img src="~/src/icons/icons8-plus-25.png"></img> Agregar producto</a>
                    </p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Codigo_Barra
                            </th>
                            <th>
                                Subcategoria
                            </th>
                            <th>
                                Presentacion
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo_De_Barra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.subcategoria.Nombre_Subcategoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.presentacion.Nombre_Presentacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre_Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion_Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock_Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado_Producto)
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Codigo_Producto"><img src="~/src/icons/icons8-edit-25.png"></img></a> 
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Codigo_Producto"><img src="~/src/icons/icons8-table-of-content-25.png"></img></a> 
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo_Producto"><img src="~/src/icons/icons8-trash-25.png"></img></a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

