@model BDLUCY_CodeFirst_Crud.Models.Incidencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Incidencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion_Incidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_Incidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad_Incidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad_Incidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Incidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Incidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.Codigo_De_Barra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo_Incidencia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
