@model IEnumerable<BDLUCY_CodeFirst_Crud.Models.Incidencia>

@{
    ViewData["Title"] = "Index";
}
<style>
    .table-responsive {
        max-height: 450px;
        overflow: scroll;
    }

</style>
<body>
    <div class="row mt-4 bg-white">
        <div class="container mb-0 pt-0 pl-0 pr-0">
            <div class="row mb-0 pt-0 pl-0 pr-0" style="background-color:#fe9f8b;">
                <h1 class="display-6 text-white">Incidencias</h1>
            </div>
            <div class="row mt-3 pl-0 pr-0">
                <div class="col-md-9">
                    <form asp-controller="Incidencias" asp-action="Index">
                        <div class="form-group col-12">
                            <div class="input-group">
                                <input type="text" name="producto" placeholder="Buscar" class="form-control" />
                                <button class="btn btn-outline-dark" type="submit" value="Buscar">Buscar</button>
                            </div>
                        </div>
                        <br />
                        <div class="form-group col-9">
                            <div class="input-group">
                                <span class="input-group-text">Inicio</span>
                                <input type="date" name="fecha1" class="form-control" />
                                <span class="input-group-text">Fin</span>
                                <input type="date" name="fecha2" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 d-md-flex justify-content-md-end">
                    <p>
                        <a class="btn btn-primary" asp-action="Create"><img src="~/src/icons/icons8-plus-20.png"></img> Agregar Incidencia</a>
                    </p>
                </div>
            </div>
            <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="text-white" style="background-color:#fe9f8b;">
                        <tr>
                            <th style="font-family:'Calibri';">Item</th>
                            <th style="font-family:'Calibri';">Producto</th>
                            <th style="font-family:'Calibri';">Descripcion Incidencia</th>
                            <th style="font-family:'Calibri';">Cantidad Incidencia</th>
                            <th style="font-family:'Calibri';">Fecha Incidencia</th>
                            <th style="font-family:'Calibri';">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int c = 0;
                        }
                        @foreach (var item in Model)
                        {
                            if (item.Codigo_Incidencia != null)
                            {
                                c++;
                            }
                            <tr>
                                <td style="font-family:'Calibri';">@c</td>
                                <td style="font-family:'Calibri';">@Html.DisplayFor(modelItem => item.producto.Codigo_De_Barra)</td>
                                <td style="font-family:'Calibri';">@Html.DisplayFor(modelItem => item.Descripcion_Incidencia)</td>
                                <td style="font-family:'Calibri';">@Html.DisplayFor(modelItem => item.Cantidad_Incidencia)</td>
                                <td style="font-family:'Calibri';">@String.Format("{0:dd/MM/yyyy}",item.Fecha_Incidencia)</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Codigo_Incidencia"><img src="~/src/icons/icons8-edit-20.png"></img></a>
                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Codigo_Incidencia"><img src="~/src/icons/icons8-table-of-content-20.png"></img></a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo_Incidencia"><img src="~/src/icons/icons8-trash-20 (1).png"></img></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>