@model IEnumerable<BDLUCY_CodeFirst_Crud.Models.Paquete>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<h1>Listado de paquetes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary text-white">Agregar paquete</a>
</p>
<table class="table">
    <thead class="text-white" style="background-color:#fe9f8b;">
        <tr>
            <th style="font-family:'Calibri';">
                Nombre paquete
            </th>
            <th style="font-family:'Calibri';">
                Cantidad por paquete
            </th>
            <th style="font-family:'Calibri';">
                Contenido por paquete
            </th>
            <th style="font-family:'Calibri';">
                Descripción
            </th>
            <th style="font-family:'Calibri';">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Paquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Por_Paquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido_Por_Unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Paquete)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Codigo_Paquete"> <i class="bi bi-pencil-square"> </i> </a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Codigo_Paquete"> <i class="bi bi-list-ul"></i> </a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo_Paquete"> <i class="bi bi-trash"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
